name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build

    - name: Checkout target repository
      uses: actions/checkout@v2
      with:
        repository: angrybird233/angrybird233.github.io  # 替换为你的目标仓库信息
        path: angrybird233.github.io
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Copy files
      run: |
        rm -rf angrybird233.github.io/*
        cp -r dist/* angrybird233.github.io/

    - name: Commit and push changes
      run: |
        cd target-repo
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        git add .
        git commit -m "Deploy from source repository"
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
